<md-card class="balance-overview">
  <div class="container" [fxLayout]="'row'">
    <div fxFlex [fxLayout]="'row'">
      <div class="one flexitem" fxFlex>
        <app-balance type="total_balance"></app-balance>
      </div>
      <div class="two flexitem" fxFlex>
        <app-balance type="balance"></app-balance>
      </div>
      <div class="three flexitem" fxFlex>
        <app-balance type="blind_balance"></app-balance>
      </div>
      <div class="four flexitem" fxFlex>
        <app-balance type="anon_balance"></app-balance>
      </div>
      <div class="five flexitem" fxFlex>
        <app-balance type="staked_balance"></app-balance>
      </div>
    </div>
  </div>
</md-card>


<div class="overview-content">
  <div class="container" [fxLayout]="'row'">
    <div fxFlex [fxLayout]="'row'">

      <div class="one flexitem" fxFlex="50%">
        <app-header>
          <ul class="header-nav">
            <li>Recent Transactions</li>
          </ul>
          <ul class="header-nav pull-right">
            <!-- <li><a href="javascript:void(0)"><span class="icon fa fa-cog color-green"></span></a></li> -->
          </ul>
        </app-header>
        <transaction-table
          [display]="{'txDisplayAmount': 5, 'header': false, 'internalHeader': true, 'category': false, 'confirmations': false}">
        </transaction-table>
      </div>


      <div class="flexitem" fxFlex="50%">

        <app-header>
          <ul class="header-nav">
            <li>Staking Information</li>
          </ul>
          <ul class="header-nav pull-right">
            <!-- <li><a href="javascript:void(0)"><span class="icon fa fa-cog color-green"></span></a></li> -->
          </ul>
        </app-header>
        <md-card class="multiple">
          <div fxFlex [fxLayout]="'row'">
            <div class="one flexitem" fxFlex>
              <div class="stat-box">
                <div class="value">3 hours</div>
                <div class="description">Estimated time to Stake</div>
              </div>
            </div>
            <div class="two flexitem" fxFlex>
              <div class="stat-box">
                <div class="value">1<span class="point">.</span><small>5</small>&nbsp;%</div>
                <div class="description">Current Stake percentage</div>
              </div>
            </div>
            <div class="three flexitem" fxFlex>
              <div class="stat-box">
                <div class="value">1<span class="point">.</span><small>4949327</small>&nbsp;PART</div>
                <div class="description">Current network reward</div>
              </div>
            </div>
          </div>
        </md-card>
        <md-card class="multiple">
          <div fxFlex [fxLayout]="'row'">
            <div class="two flexitem" fxFlex>
              <div class="stat-box">
                <div class="value">2254764680994</div>
                <div class="description">Current Stake weight</div>
              </div>
            </div>
            <div class="two flexitem" fxFlex>
              <div class="stat-box">
                <div class="value">434972889332496</div>
                <div class="description">Network Stake weight</div>
              </div>
            </div>
          </div>
        </md-card>

        <app-header>
          <ul class="header-nav">
            <li class="section-title">Cold Staking</li>
          </ul>
          <ul class="header-nav pull-right">
            <!-- <li><a href="javascript:void(0)"><span class="icon fa fa-cog color-green"></span></a></li> -->
          </ul>
        </app-header>
        <md-card class="multiple">
          Cold Staking not enabled
          <button class="mat-raised-button mat-primary">Add Cold Staking node key</button>
        </md-card>
        <md-card class="multiple">
          Cold Staking enabled
          <button class="mat-raised-button">Edit Cold Staking node key</button>
        </md-card>

      </div>

    </div>
  </div>
</div>
