$grey: #E9E9E9; // lines under titles etc.

.header-nav {
    padding: 0 0 20px; margin: 30px 0 30px;
    border-bottom: 1px solid $grey;
}

.overview-content { // area with widgets
    padding: 10px 50px;
}

md-card.multiple {
    margin-bottom: 20px;
}